body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.container{
    width: 400px;
    margin: 40px auto;
}

.btn{
    background-color: black;
    color: white;
    padding: 12px 26px;
    border-radius: 14px;
    cursor: pointer;
    border: none;
}

input{
    border: 2px solid gray;
    border-radius: 14px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;

}