body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.container{
    width: 400px;
    margin: 40px auto;
}

.btn{
    background-color: black;
    color: white;
    border-radius: 14px;
    padding: 12px 26px;
    cursor: pointer;
    border: none;
}

input{
    border: 2px solid gray;
    border-radius: 14px;
    width: 100%;
    margin-top: -2px;
    margin-bottom: 11px;
    padding: 15px;
    box-sizing: border-box;

}

#tableOutput {
    text-align: center;
    margin: 0 auto;
  }
